<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
                <div class="mb-4">
                    <button class="btn btn-md" [ngClass]="{'custom-button': activeButton === 'login' && showLogin, 'btn-primary': activeButton === 'login' && showLogin, 'btn-secondary': activeButton === 'register' && showLogin}" (click)="toggleActive('login')">Login</button>
                    <button class="btn btn-md" [ngClass]="{'custom-button': activeButton === 'register' && showRegister, 'btn-primary': activeButton === 'register' && showRegister, 'btn-secondary': activeButton === 'login' && showRegister}" (click)="toggleActive('register')">Register</button>
                </div>
                <form *ngIf="showLogin">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required [(ngModel)]="loginDto.email">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="loginDto.password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Remember password
                    </label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-lg custom-button btn-login text-uppercase fw-bold mb-2" type="submit" (click)="login(loginDto)">Sign in</button>
                    <div class="text-center">
                      <a class="small" href="#">Forgot password?</a>
                    </div>
                  </div>
                </form>
                <form *ngIf="showRegister">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="name" [(ngModel)]="registerDto.name">
                        <label for="floatingInput">Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required [(ngModel)]="registerDto.email">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="registerDto.password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div class="d-grid">
                        <button class="btn btn-lg custom-button btn-login text-uppercase fw-bold mb-2" type="submit" (click)="register(registerDto)">Sign Up</button>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  